@media screen and (max-width:380px) {
    .nav-main__left-nav {
        margin-left:0px;
    }

    .nav-main__link {
        margin:0px;
    }
    
    .projects-switchblock {
        flex-direction: column;
        margin:0px;
    }

    .projects_imgblock {
        display:none !important;
    }

    .arrow-right {
        position:absolute;
        bottom:100px;
        left:200px;
    }

    .arrow-left { 
        position:absolute;
        bottom:100px;
        right:200px;
    }
}